@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

:root{
    --color-background:#161748;
    --color-container:#1B1C48;
    --color-text:#FEFEF6;
    --margin:2rem
}

html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    color: var(--color-text);
}
body{
    background: var(--color-background);
}
.container{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    margin: var(--margin);
}

/*search section*/
.search{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.search-container{
    background: #fff;
    height: 40px;
    border-radius: 45px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 300px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #5cbdbb;
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}

/*temperature*/

h1{
    font-size: 8rem;
}
/*lacation*/
.location{
    display: flex;
    flex-direction: row;
    
}
svg{
    fill: var(--color-text);
    width: 16px;
    margin-right: 10px;
}
h3{
    margin-bottom: 3px;
    font-size: 1.4rem;
}

/*description*/
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 3rem;
}